@font-face {
    font-family: 'pokemon';
    src: url('./assets/fonts/Pokemon\ Solid.ttf');
}

.header-fixed {  
  width: 100%;
  margin: auto;
}
.pokeb {
    width: 10%;
    float: left;
}

header nav {
  background: black
}

header nav ul {
  list-style: none;
  overflow: hidden;
}

header nav ul li {
  float: right;
}

header nav ul li a {
  display: block;
  padding: 15px;
  color: white;
  text-decoration: none;
  font-size: 21px;
}

header nav ul li a:hover {
  background: grey;
}

.btn-poke {
  height: 130px;
  width: 130px;
  background-position: center;
  cursor: pointer;
}



.steelbutton {
  background-image: url(./assets/images/Simbolos/Acero.jpg);
  
}

.waterbutton {
  background-image: url(./assets/images/Simbolos/Agua.jpg);
}

.bugbutton {
  background-image: url(./assets/images/Simbolos/Bicho.jpg);
}

.dragonbutton {
  background-image: url(./assets/images/Simbolos/Dragon.jpg);
}

.electricbutton {
  background-image: url(./assets/images/Simbolos/Electrico.jpg);
}

.ghostbutton {
  background-image: url(./assets/images/Simbolos/Fantasma.jpg);
}

.firebutton {
  background-image: url(./assets/images/Simbolos/Fuego.jpg);
}

.fairybutton {
  background-image: url(./assets/images/Simbolos/Hada.jpg);
}

.icebutton {
  background-image: url(./assets/images/Simbolos/Hielo.jpg);
}

.fightbutton {
  background-image: url(./assets/images/Simbolos/Lucha.jpg);
}

.normalbutton {
  background-image: url(./assets/images/Simbolos/Normal.jpg);
}

.grassbutton {
  background-image: url(./assets/images/Simbolos/Planta.jpg);
}

.psychicbutton {
  background-image: url(./assets/images/Simbolos/Psiquico.jpg);
}

.rockbutton {
  background-image: url(./assets/images/Simbolos/Roca.jpg);
}

.darkbutton {
  background-image: url(./assets/images/Simbolos/Siniestro.jpg);
}

.groundbutton {
  background-image: url(./assets/images/Simbolos/Tierra.jpg);
}

.poisonbutton {
  background-image: url(./assets/images/Simbolos/Veneno.jpg);
}

.flyingbutton {
  background-image: url(./assets/images/Simbolos/Volador.jpg);
}


.publish-images {
    display: flex;
}

.publish-image {
    width: 30%;
    padding-right: 30px; 
}

.publish-image img {
    width: 100%
}

#root {
 display: flex;
 flex-wrap: wrap;
}
.card-pokemon {
    border: 1px solid green;
    width: 200px;
    height: 230px;
    flex: 1 1 auto;
    display: flex;
    justify-items: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
}